<h1><%=@user.username %></h1>
<li><img src="http://placekitten.com/g/200/300" alt="image placeholder"/> </li>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<i class="fa fa-envelope" style="font-size:24px"></i>


<h2>I Own</h2>
<div class="own">
  <% @games_owned.each do |game| %>
  <li>  <%=link_to game.title, board_game_path(game) %> </li>
      <%end %>
</div>
<h2>I Want to Play</h2>
<div class="play">
  <% @games_to_play.each do |game| %>
  <li>  <%= link_to game.title, board_game_path(game) %> </li>
      <%end %>
</div>
