<h1><%=@user.username %></h1>

<div class="own">
  <% @games_owned.each do |game| %>
  <li>  <%= game.title %> </li>
      <%end %>
</div>

<div class="play">
  <% @games_to_play.each do |game| %>
  <li>  <%= game.title %> </li>
      <%end %>
</div>
