<h1><%=@user.username %></h1>
<h2>I Own</h2>
<div class="own">
  <% @games_owned.each do |game| %>
  <li>  <%=link_to game.title, board_game_path(game) %> </li>
      <%end %>
</div>
<h2>I Want to Play</h2>
<div class="play">
  <% @games_to_play.each do |game| %>
  <li>  <%= link_to game.title, board_game_path(game) %> </li>
      <%end %>
</div>
